<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create - Project</title>
  <link rel="stylesheet" href="/css/projects.css">
</head>
<body>
<header>
  <h1>Create New Project</h1>
  <a class="logout-btn" href="/logout">Logout</a>
</header>

<main>
  <form action="/projects/newProject" method="post">
    <input type="hidden" name="user_id" value="<%= session[:user_id] %>"required>

    <label>Project Name:</label>
    <input type="text" name="name" required>

    <label>Description:</label>
    <textarea name="description" required></textarea>

    <label>Share with Email (optional):</label>
    <input type="email" name="email_origin">

    <button type="submit">Create Project</button>
  </form>
</main>
</body>
</html>
