<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Creat - Projects</title>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<h1>Create New Project</h1>
<form action="/projects" method="post">
  <label>Project Name:</label>
  <input type="text" name="name" required>
  
  <label>Description:</label>
  <textarea name="description" required></textarea>
  
  <label>Share with Email (optional):</label>
  <input type="email" name="email_origin">
  
  <button type="submit">Create Project</button>
</form>
</body>
</html>
